<!DOCTYPE html>
<html>
<head>
  <title>Easypost</title>
  <%= stylesheet_link_tag    "easypost/application", media: "all" %>
  <%= javascript_include_tag "easypost/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
